body {
  background-color: #DADBD3;
}

.background {
  height: 100vh;
  width: 100vw;
  /* min-width: 1000px; */
  background: linear-gradient(180deg, rgb(21, 124, 119) 150px, rgb(200, 200, 200) 15%);
}

.contenitoreGrande {
  height: 90%;
  min-height: 400px;
  width: 90%;
  min-width: 750px;
  max-width: 1200px;
  background-color: white;
  border: 1px solid rgb(61, 25, 128);
  box-shadow: 0 0 20px 5px rgba(111, 143, 135, 0.5);
}

.cursor {
  cursor: pointer;
}

#mioBottone {
  background-color: white;
  border: 1px solid black;
  margin-left: 10px;
}

.mieInfo {
  height: 60px;
  background-color: #EAEAEA;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  align-items: center;
}

.unaChat {
  height: 90px;
  cursor: pointer;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

#ricerca {
  height: 30px;
}

.pannelloChat {
  height: calc(100% - 163px);
}

.latoContatti {
  height: 100%;
  min-width: 350px;
  max-width: 500px;
  border-right: 1px solid rgb(180, 180, 180);
}

/* .listaContatti {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
} */

.latoMessaggi {
  position: relative;
  height: 100%;
  width: 100%;
  border-right: 1px solid rgb(180, 180, 180);
  background-image: url("../img/mine.jpg");
}

.scriviQui {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #F3EEEA;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.centroMessaggi {
  height: calc(100% - 120px);
  overflow-y: auto;
}

.spazioIcona {
  justify-content: space-between;
  background-color: #EAEAEA;
  align-items: center;
  height: 60px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.spazioNotifiche {
  background-color: #8EDAFC;
  justify-content: center;
  align-items: center;
  height: 65px;
 
  border-bottom: 1px solid grey;
}

#bell {
  vertical-align: middle;
}

#bell:hover {
  color: blueviolet;
}

.fa-bell-slash {
  color: #8EDAFC;
}

#tondo {
  text-align: center;
  line-height: 46px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
}

#icona {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  align-self: center;
}

img {
  width: 100%
}

.testo {
  align-self: center;
}

.testoPiccolo {
  font-size: 12px;
}

.testoMedio {
  font-size: 14px;
}

.messaggio {
  position: relative;
  min-width: 40%;
  max-width: 60%;
  margin: 5px 0px;
  padding: 15px 15px 20px;
  background-color: white;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 16px;
}

.chat {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.messaggio.sent {
  align-self: flex-end;
  background-color: #D5F9BA;
  margin-right: 10px;

}

.grey {
  color: #B1B1B1;
}

i:hover {
  color: black;
}

.active {
  background-color: #e6e0e0;

}

#aereoplano:hover {
  color: green;
}

#orarioMessaggio {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10px;
  margin-right: 5px;
}
.darkbg{
  background-color: #494b4b;
}
.toggle {
  cursor: pointer;
  display: inline-block;
}
.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  content: '\f185';
  font: var(--fa-font-regular);
  text-align: center;
  line-height: 23px;
}
.toggle-switch.moon:before {
  content: '\f186';
  font: var(--fa-font-regular);
  text-align: center;
  line-height: 24px;
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #7a7e7c;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}
.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}
.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
@media screen and (max-width:768px) {
  .latoMessaggi {
    display: none;
  }

  .latoContatti {
    width: 100%;
    max-width: none;
  }
  .contenitoreGrande{
    min-width: 500px;
  }
}