<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.41/dist/vue.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.1.0/build/global/luxon.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzapp</title>
</head>

<body>
    <div id="app" class="background d-flex align-items-center justify-content-center">
        <main class="contenitoreGrande d-flex flex-row" >

            <!-- lato contatti  -->

            <div class="latoContatti":class="{'darkbg' : dark}">

                <div class="mieInfo d-flex justify-content-between":class="{'darkbg' : dark}">
                    <div class="d-flex">
                        <div id="icona" class="ms-1">
                            <img src="./img/avatar_1.jpg" alt="">
                        </div>
                        <div class="ms-2 testo">
                            <span><strong>Riccardo</strong></span>
                        </div>
                    </div>
                    <label>
                        <label class="toggle" >
                            <input class="toggle-checkbox" type="checkbox">
                            <div @click="darkMode()" class="toggle-switch" :class="{'moon' : dark}"></div>
                            <span class="toggle-label"></span>
                        </label>
                    </label>
                    <div class="grey d-flex align-items-center">
                        <i class="fa-solid fa-circle-notch fs-4 me-4 cursor"></i>
                        <i class="fa-solid fa-message fs-4 me-4  cursor"></i>
                        <i class="fa-solid fa-ellipsis-vertical fs-4 me-4  cursor"></i>
                    </div>
                </div>

                <div class="spazioNotifiche d-flex" :class="{'darkbg' : dark}">
                    <div id="tondo">
                        <i class="fa-solid fa-bell-slash fs-3" id="bell"></i>
                    </div>
                    <div class="d-flex flex-column ms-2">
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <span class="text-decoration-underline cursor text-secondary testoMedio">Attiva notifiche
                            desktop</span>
                    </div>
                </div>

                <div id="ricerca" class="mt-1 mb-1 opacity-75">
                    <button id="mioBottone"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" class="w-75" placeholder="Cerca o inizia una nuova chat"
                        v-model.trim="searchTerm">
                </div>

                <!-- icone messaggi  -->
                <div class="pannelloChat overflow-auto">
                    <div>
                        <div class="unaChat mt-3" :class="{'active': item.id -1 === currentChat}"
                            v-for="(item, index) in cercaContatto" :key="item.id" @click="onClickContatto(item.id)">
                            <div class="d-flex">
                                <div id="icona" class="ms-1">
                                    <img :src="`./img/avatar`+ item.avatar +`.jpg`" :alt="item.name">
                                </div>
                                <div class="ms-2 testo">
                                    <span><strong>{{item.name}}</strong></span>
                                    <span class="text-secondary d-flex flex-column testoPiccolo">Ultimo messaggio
                                        inviato il
                                        {{getLastMessage(item).date}}</span>

                                    <small> {{getLastMessage(item).message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- lato messaggi  -->

            <div class="latoMessaggi">

                <div class="spazioIcona d-flex":class="{'darkbg' : dark}">
                    <div class="d-flex">
                        <div id="icona" class="ms-1">
                            <img :src="'./img/avatar'+ contacts[currentChat].avatar+'.jpg'"
                                :alt="contacts[currentChat].name">
                        </div>
                        <div class="ms-2 testo">
                            <span><strong>{{contacts[currentChat].name}}</strong></span>
                            <span class="text-secondary d-flex flex-column testoPiccolo">Ultimo accesso
                                {{getLastMessage(contacts[currentChat]).date}}
                            </span>
                        </div>
                    </div>
                    <div class="d-flex grey">
                        <!-- qui devo cambiare visualizzazione chat  -->
                        <i class="fa-sharp fa-solid fa-magnifying-glass fs-4 me-4 cursor" @click="changeView"></i>

                        <i class="fa-solid fa-paperclip fs-4 me-4 cursor"></i>

                        <i class="fa-solid fa-ellipsis-vertical fs-4 me-4 cursor"></i>
                    </div>
                </div>
                <div class="centroMessaggi" :class="{'darkbg' : dark}">
                    <div class="chat">
                        <div class="messaggio" :class="message.status"
                            v-for="(message,index) in contacts[currentChat].messages" :key="index" ref="msg">
                            <div>
                                {{message.message}}
                                <small id="orarioMessaggio">{{message.date}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scriviQui grey" :class="{'darkbg' : dark}">

                    <i class="fa-regular fa-face-smile fs-4 me-4 cursor"></i>

                    <!-- invio messaggio casuale controllo icona aereoplano- microfono collega il valore alla variabile newmessage -->

                    <input type="text" class="w-50 h-50 rounded-pill border-0" placeholder=" Scrivi un messaggio"
                        v-model.trim="newMessage" @keyup.enter="sendMessage" @keyup="impostaIconaInvio">

                    <i class="fa-solid fs-4 me-4  ms-5 cursor" :class="iconaInvio" @click="sendMessage"
                        id="aereoplano"></i>

                </div>
            </div>

    </div>


    </div>
    </main>


    <script src="./js/script.js"></script>
</body>

</html>